
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>deneme</h3>
<table>
    <tr>
        <th>Id</th>
        <th>ad</th>
        <th>dgs</th>
    </tr>
   <tr>
       <td>1</td>
       <td>1sdg</td>
       <td>1sdg</td>
   </tr>
</table>
